{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER_HERE",
    "project_id": "dididi-791b9",
    "storage_bucket": "dididi-791b9.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "YOUR_MOBILESDK_APP_ID_HERE",
        "android_client_info": {
          "package_name": "com.dididi.dididi_mobile"
        }
      },
      "oauth_client": [
        {
          "client_id": "YOUR_CLIENT_ID_HERE",
          "client_type": 1,
          "android_info": {
            "package_name": "com.dididi.dididi_mobile",
            "certificate_hash": "YOUR_CERTIFICATE_HASH_HERE"
          }
        },
        {
          "client_id": "YOUR_CLIENT_ID_HERE",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "YOUR_CURRENT_KEY_HERE"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "YOUR_CLIENT_ID_HERE",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}
